*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#fa810049;
    position: relative;
}
#qnum{
    display: flex;
    justify-content: center;
}
.h1Div{
    display: flex;
    justify-content: center;

}
#quiz{
    text-align: center;
    background-color: #6c757d12;
    height: 100px;
    font-size: 2.5rem;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    margin-top: 5px;
    text-decoration: underline;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.btn-div{
    display: flex;
    justify-content: center;
}
.main{
    background-color:  #6c757d12;
    width: 70%;
    margin-inline: auto;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.4);
}

.ques{
    margin: 10%;
    text-align: center;
    
}
.option{
 text-align: center;
}
button{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.355);
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);    
    width: 70%;
    padding-block: 20px;
    padding: 10px;
    background-color:#6c757d68;
}
.marks{
display: flex;
justify-content: center;
display: none;

}